<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<script th:src="@{/js/facilityInfo.js}"></script>
	<title>施設利用情報</title>
</head>

<body>
	<main layout:fragment="content">
		<div class="container">
			<h3 class="page-title">施設利用情報</h3>
			<div>
				<form th:action="@{/school/facilityInfo}" method="post" th:object="${facilityUseForm}">

					<!-- 施設名 -->
					<div class="form-group row">
						<label for="facilityName" class="col-md-3 col-form-label">施設名</label>
						<div class="col-md-9">
							<input type="text" id="facilityName" class="form-control-plaintext"
								th:value="${facilityUseForm.facilityName}" disabled>
						</div>
					</div>

					<!-- 利用日 -->
					<div class="form-group row">
						<label for="useDate" class="col-md-3 col-form-label">利用日</label>
						<div class="col-md-5">
							<input type="date" class="form-control" th:field="*{useDate}" th:errorclass="is-invalid"
								readonly>
							<div class="invalid-feedback" th:errors="*{useDate}"></div>
						</div>
					</div>

					<!-- facilityId == 1 (カラオケ) -->
					<div th:if="${facilityUseForm.facilityId == 1}">
						<div class="form-group row">
							<label class="col-md-3 col-form-label">開始時間</label>
							<div class="col-md-5">
								<input type="time" id="startTimeOnly" th:field="*{startTimeOnly}" class="form-control"
									readonly>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label">終了時間</label>
							<div class="col-md-5">
								<input type="time" id="endTimeOnly" th:field="*{endTimeOnly}" class="form-control"
									readonly>

							</div>
						</div>
					</div>

					<!-- facilityId != 1 の場合 -->
					<div th:if="${facilityUseForm.facilityId != 1}">
						<!-- 利用時間 -->
						<div class="form-group row">
							<label class="col-md-3 col-form-label">開始時間</label>
							<div class="col-md-5">
								<input type="time" id="startTimeOnly" class="form-control" readonly>
								<input type="hidden" id="startTimeOnlyHidden" name="startTimeOnly">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label">終了時間</label>
							<div class="col-md-5">
								<input type="time" id="endTimeOnly" class="form-control" readonly>
								<input type="hidden" id="endTimeOnlyHidden" name="endTimeOnly">
							</div>
						</div>


						<!-- hidden -->
						<input type="hidden" id="facilityId" name="facilityId" th:value="${facilityUseForm.facilityId}">

					</div>



					<!-- 利用人数 -->
					<div class="form-group row">
						<label for="numberOfPeople" class="col-md-3 col-form-label">利用人数 <span
								class="badge bg-warning text-dark">必須</span></label>
						<div class="col-md-5">
							<select id="numberOfPeople" class="form-control" th:field="*{numberOfPeople}"
								th:errorclass="is-invalid">
								<option value="1">1</option> <!-- JSが上書き -->
							</select>
							<div class="invalid-feedback" th:errors="*{numberOfPeople}"></div>
						</div>
					</div>

					<!-- ボタン -->
					<div class="form-group row pt-4">
						<div class="col-md-5 offset-md-3">
							<button sec:authorize="isAuthenticated()" class="btn btn-primary btn-block py-2"
								type="submit" name="member">予約に進む</button>
							<button sec:authorize="!isAuthenticated()" class="btn btn-primary btn-block py-2"
								type="submit" name="member">ログインして予約に進む</button>
							<input type="button" value="戻る" class="btn btn-secondary btn-block py-2"
								onclick="history.back()">
						</div>
					</div>

					<!-- hidden -->
					<input type="hidden" th:field="*{facilityId}" id="facilityId">
					<input type="hidden" th:field="*{facilityName}">


				</form>
			</div>
		</div>
	</main>


</body>

</html>