<!DOCTYPE html>
<html html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
  <div th:fragment="login">
    <!-- 失敗 -->
    <div class="alert alert-danger" th:if="${param.error}">
      <small>メールアドレスまたはパスワードが正しくありません</small>
    </div>
    <!-- ログアウト -->
    <div class="alert alert-success" th:if="${param.logout}">
      <small>ログアウトしました</small>
    </div>
    <!-- ログイン必須 -->
  <div class="alert alert-warning" th:if="${param.loginRequired}">
    <small>ログインしないと使用できません！</small>
  </div>
  </div>
</body>

</html>
