<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>
</head>
<body>

    <div style="text-align: right;">
        <a href="/login">ログイン</a>
    </div>

    <h1>ようこそ<span th:text="${username}">ユーザー</span>さん</h1>

    <form action="/page1" method="get">
        <button type="submit">ページ1</button>
    </form>
    <form action="/page2" method="get">
        <button type="submit">ページ2</button>
    </form>
    <form action="/page3" method="get">
        <button type="submit">ページ3</button>
    </form>
    <form action="/page4" method="get">
        <button type="submit">ページ4</button>
    </form>
    <form action="/page5" method="get">
        <button type="submit">ページ5</button>
    </form>

</body>
</html>
