<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<title>予約一覧</title>
</head>

<body>
	<main layout:fragment="content">
		<div class="container">
			<h3 class="page-title">予約一覧</h3>
			<!-- ページネーション -->
			<div>
				<nav th:if="${page != null and page.getContent().size() > 0}" aria-label="Page navigation example">
					<ul class="pagination">
						<li th:class="${page.first} ? 'page-item disabled' : 'page-item' ">
							<a th:href="@{/member/reservations/list(page=${page.number - 1})}" class="page-link"
								aria-label="前へ" th:if="${!page.first}">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">前へ</span>
							</a>
							<span class="page-link" aria-hidden="true" th:if="${page.first}">&laquo;</span>
						</li>

						<li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
							th:class="${i == page.number} ? 'page-item active' : 'page-item' ">
							<a th:href="@{/member/reservations/list(page=${i})}" class="page-link"
								th:text="${i + 1}"></a>
						</li>

						<li th:class="${page.last} ? 'page-item disabled' : 'page-item' ">
							<a th:href="@{/member/reservations/list(page=${page.number + 1})}" class="page-link"
								aria-label="次へ" th:if="${!page.last}">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">次へ</span>
							</a>
							<span class="page-link" aria-hidden="true" th:if="${page.last}">&raquo;</span>
						</li>
					</ul>
				</nav>
			</div>

			<!-- 予約一覧 -->
			<div>
				<table class="table table-striped reservation-list">
					<thead>
						<tr>
							<th>利用日</th>
							<th>施設タイプ</th>
							<th>予約した時間</th>
							<th>予約人数</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="reservation : ${page.getContent()}">
							<td th:text="${#temporals.format(reservation.reservationDate, 'yyyy-MM-dd')}"></td>
							<td th:text="${reservation.facilityType != null ? reservation.facilityType.name : '不明'}">
							</td>
							<td>
								<span
									th:text="${reservation.startTime != null ? #temporals.format(reservation.startTime, 'HH:mm') : '-'}"></span>〜
								<span
									th:text="${reservation.endTime != null ? #temporals.format(reservation.endTime, 'HH:mm') : '-'}"></span>
							</td>
							<td th:text="${reservation.numberOfPeople}"></td>
<!--							<td th:text="${reservation.isCanceled() ? 'キャンセル' : '-' }"></td>-->
							<td>
								<a th:href="@{/member/reservations/{reservationId}(reservationId=${reservation.id}, page=${page.number})}"
									class="btn btn-primary detail-btn">詳細</a>
							</td>
						</tr>

					</tbody>
				</table>
				<div class="row">
					<div class="col-md-2">
						<a th:href="@{/}" class="btn btn-secondary btn-block py-2">戻る</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>